%title
  = current_page.data.title || "No title"
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:charset => "utf-8"}/
= stylesheet_link_tag("all")
= javascript_include_tag("all")
