#sidebar
  .well.sidebar-nav
    %ul.nav
      %li Sidebar
      %li.active
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
      %li Sidebar
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
      %li Sidebar
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link

%div.device-xs.visible-xs
%div.device-sm.visible-sm
%div.device-md.visible-md
%div.device-lg.visible-lg
